
<div class="menu__grid__item" style="visibility: visible; animation-name: fadeInLeft;">
    <div class="menu__grid__thumb">
        <a href="javascript:void(0)" class="btn-favorite" (click)="addToFavorite()"><i class="fa text-danger" [ngClass]="{'fa-heart':menu.is_favorite,'fa-heart-o':!menu.is_favorite}"></i></a>
        <a href="javascript:void(0)" title="Livraison {{family_name}} {{menu.name}}">
            <div class="short-details"><!-- routerLink="/menu/{{menu.family | slugify}}/{{menu.alias}}" -->
                <h5>{{menu.name}}</h5>
                <p class="text-ellipsis center-block" *ngIf="menu.description">{{menu.description}}</p>
                <p class="text-ellipsis center-block" *ngIf="!menu.description && menu.composition">{{menu.composition.join(', ')}}</p>
            </div>
            <img src="assets/images/default-pro.png" *ngIf="menu.picture==''" class="img-fluid" alt="Livraison {{family_name}} {{city}} {{menu.name}}" title="Livraison {{zone}} {{city}} {{family_name}} {{menu.name}}">
            <img src="{{asset_url}}/menu/{{menu.picture}}" *ngIf="menu.picture!=''" class="img-fluid" alt="Livraison {{family_name}} {{city}} {{menu.name}}" title="Livraison {{zone}} {{city}} {{family_name}} {{menu.name}}" onerror="this.src='assets/images/default-pro.png'">
        </a>
    </div>
    <div class="menu__grid__inner">
        <div class="menu__grid__details">
            <div class="row">
                <div class="col-12">
                    <h2><a href="javascript:void(0)" title="Livraison {{family_name}} {{menu.name}}">{{menu.name}}</a></h2>
                    <ul class="grid__prize__list pull-right"><li>{{menu.priceArr2[selectdPrice].price | currency:'EUR'}}</li></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="product-size pull-left" *ngIf="menu.priceArr2.length>1">
                        <select class="drop" (change)="onChangeSize($event.target.value)">
                            <option value="" disabled>{{menu.priceArr2[0].name}}</option>
                            <option *ngFor="let opt of menu.priceArr2; let i = index" [value]="i">{{opt.name}}</option><!-- [selected]="opt.selected == true" -->
                        </select>
                        <input type="hidden" name="PriceValue" id="PriceValue{{menu.id}}" value="{{menu.priceArr2[selectdPrice].price}}">
                        <input type="hidden" name="PriceName" id="PriceName{{menu.id}}" value="{{menu.priceArr2[selectdPrice].name}}">
                    </span>
                    <span class="pull-right" *ngIf="menu.personalizable=='Y'"><a href="javascript:void(0)" title="Livraison {{family_name}} {{menu.name}}" class="btn-details gap-reduce-p">Ajouter</a></span>
                    <div class="pull-right" *ngIf="menu.personalizable!='Y'">
                        <a href="javascript:void(0)" (click)="addToCart(menu)" *ngIf="setQty.menu_id != menu.id" title="Livraison {{family_name}} {{menu.name}}" class="btn-details gap-reduce-p">Ajouter</a>
                        <div class="product-quantity-2" *ngIf="setQty.menu_id == menu.id">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" name="qtybutton" value="{{cart.qty}}" type="text" readonly="true" ng-model="cart.qty">
                                <div class="dec qtybutton" (click)="decrement(setQty.cart_index)">-</div>
                                <div class="inc qtybutton" (click)="increment(setQty.cart_index)">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>