<header class="htc__header bg--black">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header" [class.no_sticky]="no_sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 pr-0">
                    <span (click)="nav_open = 1" class="fa fa-bars fa-2x c-pointer nav-sm-btn"></span>
                    <a routerLink="categories" class="btn-details btn-carte gap-reduce-p d-inline-block text-uppercase fix-pos">La Carte</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 pl-0">
                    <div class="header__right d-flex justify-content-end">
                        <div class="log__in">
                            <a class="accountbox-trigger" routerLink="/account" *ngIf="user.id">
                                <img src="assets/icons/user.svg" width="30" height="30">
                                <p>S'incrire/Se connecter</p>
                            </a>
                            <a class="accountbox-trigger" routerLink="/login" *ngIf="!user.id">
                                <img src="assets/icons/user.svg" width="30" height="30">
                                <p>S'incrire/Se connecter</p>
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown shopping__cart">
                                <a href="javascript:void(0)" (click)="cart_open=1" class="panier_box">
                                    <img src="assets/icons/shopping-bag.svg" width="30" height="30">
                                    <p>Panier</p>
                                    <div class="shop__qun" *ngIf="cartList.length>0">
                                        <span>{{cartList.length}}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>

<section class="inner-header" *ngIf="search_open && !search_force_close">
    <div class="container">
        <div class="row">
            <!-- <div class="col-6 p-0 d-block d-sm-none"></div> -->
            <div class="col-12 p-0">
                <app-search-form></app-search-form>
            </div>
        </div>
    </div>
</section>

<app-popup-cart [(cart_open)]="cart_open"></app-popup-cart>