<section id="section1" class="offer py-5">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <app-product-card-v3 
                class="col-lg-4 col-md-6 col-auto d-flex align-items-stretch" 
                [city]="city" 
                [zone]="zone"
                [family_name]="menu.family" 
                [menu]="menu" 
                *ngFor="let menu of thaiList.slice(0, 9)" 
                (click)="showPopup(menu)">
            </app-product-card-v3>
        </div>
        <div class="see_all_on_maps">
            <a routerLink="/categories" class="btn btn-details btn-primary text-uppercase">Voir toute la carte</a>
        </div>
    </div>
</section>

<app-popup-slide [(nav_open)]="nav_open" [menu]="selectedProduct"></app-popup-slide>