<section class="block how-it-works-block">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-xs-12 col-sm-4 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
             <div class="feature-item-wrap">
                <figure class="service-img"><a href="#"><img class="img-responsive" src="assets/images/meal.svg" alt="Meal icon"></a></figure>
                <h5 class="service-heading">Choose<br> your favourites</h5>
             </div>
          </div>
          <div class="col-lg-4 col-xs-12 col-sm-4 deliver wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
             <div class="feature-item-wrap">
                <figure class="service-img"><a href="#"><img class="img-responsive" src="assets/images/delivery.svg" alt="Delivery icon"></a></figure>
                <h5 class="service-heading">We Deliver <br>Your Meals</h5>
             </div>
          </div>
          <div class="col-lg-4 col-xs-12 col-sm-4 eat wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
             <div class="feature-item-wrap">
                <figure class="service-img"><a href="#"><img class="img-responsive" src="assets/images/eat-enjoy.svg" alt="Eat and enjoy icon" style="width: 85px;height: 71px;object-fit: contain;"></a></figure>
                <h5 class="service-heading">Eat and <br>Enjoy</h5>
             </div>
          </div>
       </div>
    </div>
 </section>