<section class="bg-offer bg-offer-1 bg-height cursor" [routerLink]="'/categories'"></section>

<section class="block how-it-works-block">
   <div class="container">
      <div class="row">
         
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/images/icons/icon-1.png" alt="Commander Burger Maarrakech Services" class="img-fluid">
               <h4>Produits de qualité</h4>
               <p>Produits de qualité</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/images/icons/icon-2.png" alt="Commander Burger Maarrakech Services" class="img-fluid">
               <h4>Ponctualité</h4>
               <p>Produits de qualité</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/images/icons/icon-3.png" alt="Commander Burger Maarrakech Services" class="img-fluid">
               <h4>Recettes originales</h4>
               <p>Produits de qualité</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/images/icons/icon-4.png" alt="Commander Burger Maarrakech Services" class="img-fluid">
               <h4>Convivialité</h4>
               <p>Produits de qualité</p>
            </div>
         </div>

      </div>
   </div>
</section>

<section class="bg-offer bg-offer-2 bg-height cursor" [routerLink]="'/categories'"></section>