<section class="bg-offer bg-offer-3 bg-height cursor" [routerLink]="'/categories'">
      <div class="imgs">
         <img src="assets/images/thai/Wok_01.png" width="450" height="450" class="img_wok">
         <img src="assets/images/thai/feuille.png" width="500" height="300" class="img_grace">
      </div>
      <div class="text">
         <div class="top_text">
            <p class="text_1">Commandez</p>
            <p class="text_2">En ligne</p>
            <p class="text_3">Dès Maintenant</p>
            <p class="text_4">Ouvert</p>
         </div>
         <div class="sub_text">
            <p class="text_1">Tous les jours Sauf Lundi</p>
            <p class="text_2">11h-14h30 // 18h-22h30</p>
            <p class="text_3">Dimanche Non Stop</p>
         </div>
      </div>
      <img src="assets/images/thai/hand_mobile.png" width="300" height="450" class="hand_mobile">
      <img src="assets/images/thai/feuille.png" width="500" height="300" class="img_grace_hand_mobile">
</section>

<section class="block how-it-works-block">
   <div class="container">
      <div class="row">
         
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/icons/product_quality.png" alt="Commander Burger Maarrakech Services" height="112">
               <h4>Produits de qualité</h4>
               <p>Produits Frais</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/icons/ponctuality.png" alt="Commander Burger Maarrakech Services" class="img-fluid">
               <h4>Ponctualité</h4>
               <p>Votre livraison assurée</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/icons/original.png" alt="Commander Burger Maarrakech Services" height="108">
               <h4>Recettes originales</h4>
               <p>Des produits soignés et travaillés</p>
            </div>
         </div>
         <div class="col-lg-3 col-xs-12 choose wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="single-service">
               <img src="assets/icons/conviviality.png" alt="Commander Burger Maarrakech Services" height="106">
               <h4>Convivialité</h4>
               <p>En famille ou en solo!</p>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="bg-offer bg-offer-4 bg-height cursor" [routerLink]="'/categories'">
   
</section>