<section class="slider__area slider--two">
   <div class="slider__activation--1">
      <!-- Start Single Slide -->
      <div class="slide fullscreen bg-image-slider poss--relative">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="slider__content">
                     <div class="slider__inner">
                        <h1>Stadium PIZZA</h1>
                        <!-- <img src="assets/images/logo.png" alt="Stadium PIZZA"> -->
                        <h2>Ouvert 7j/7 de 11h30 à 15h et de 18h à 23h, non stop!</h2>
                        <div class="fadeInRight-3 btn-cmd-mode" style="opacity: 1; left: 0px;" *ngIf="order_modes">
                           <a href="javascript:void(0)" class="btn btn-medium btn-primary" [class.selected]="cmdMode=='delivery'" (click)="chooseCmdMode('delivery')" *ngIf="order_modes.includes('delivery')"><i class="fa fa-home" aria-hidden="true"></i> Livraison</a>
                           <a href="javascript:void(0)" class="btn btn-medium btn-primary" [class.selected]="cmdMode=='to_take_away'" (click)="chooseCmdMode('to_take_away')" *ngIf="order_modes.includes('to_take_away')"><i class="fa fa-shopping-bag" aria-hidden="true"></i> À emporter</a>
                           <a href="javascript:void(0)" class="btn btn-medium btn-primary" [class.selected]="cmdMode=='place'" (click)="chooseCmdMode('place')" *ngIf="order_modes.includes('place')"><i class="fa fa-cutlery" aria-hidden="true"></i> Sur place</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="slide__pizza slide__burger">
            <img src="assets/images/slider-burger.png" alt="pizza images" class="img-fluid">
         </div> -->
         <!-- <div class="slide__pizza">
            <img src="assets/images/slider-pizza.png" alt="pizza images" class="img-fluid">
         </div> -->
      </div>
      <!-- End Single Slide -->
   </div>
</section>