<section id="section1" class="offer py-5">
  <div class="container my-4">
    <div class="section__title service__align--center mb-5">
      <h2 class="title__line">Desserts</h2>
      <span><em></em></span>
    </div>
    
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" *ngIf="productList && productList.length>0">
      
      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->
      
      <!--Indicators-->
      <ol class="carousel-indicators hide-mobile">
        <ng-container *ngFor="let list of chunk(productList, 3); let array_i = index">
          <li data-target="#multi-item-example" [attr.data-slide-to]="array_i" [class.active]="array_i==0"></li>
        </ng-container>
      </ol>
      <!--/.Indicators-->
      
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        
        <ng-container *ngFor="let list of chunk(productList, chunckSize); let array_i = index">
          <div class="carousel-item" [class.active]="array_i==0">
            <div class="row justify-content-center">
              <ng-container *ngFor="let menu of list; let im = index">
                <app-product-card class="col-md-4 col-auto" [city]="city" [zone]="zone"
                [family_name]="menu.family" [menu]="menu" [ngClass]="{'clearfix d-none d-md-block':im!=0}" (click)="showPopup(menu)"></app-product-card>
              </ng-container>
            </div>
          </div>
        </ng-container>
        
      </div>
      
      <!-- <div class="carousel-inner hide-desktop" role="listbox">
        
        <ng-container *ngFor="let list of chunk(productList, 1); let array_i = index">
          <div class="carousel-item" [class.active]="array_i==0">
            <div class="row justify-content-center">
              <ng-container *ngFor="let menu of list; let im = index">
                <app-product-card class="col-md-4 col-auto" [family_name]="menu.family" [menu]="menu" [ngClass]="{'clearfix d-none d-md-block':im!=0}" (click)="showPopup(menu)"></app-product-card>
              </ng-container>
            </div>
          </div>
        </ng-container>
        
      </div> -->
      <!--/.Slides-->
      
    </div>
    <!--/.Carousel Wrapper-->
  </div>
</section>

<app-popup-slide [(nav_open)]="nav_open" [menu]="selectedProduct"></app-popup-slide>