<div class="menu__grid__item text-center" >
    <img src="{{menu.picture}}" class="img_item" width="270px" height="200px" *ngIf="menu.name !== 'Menus'">
    <img src="{{menu.picture}}" class="img_item" width="300px" height="270px" *ngIf="menu.name === 'Menus'">
    <div class="shadow p-3 mb-5 bg-white card_item" *ngIf="menu.name !== 'Menus'">
        <p>{{menu.name}}</p>
    </div>
    <div class="shadow p-3 mb-5 black_card_item" *ngIf="menu.name === 'Menus'">
        <p>{{menu.name}}</p>
    </div>
</div>



